.input_error{
    color: red;
    font-size: 15px;
    font-weight: 100;
}

.success_message{
    color: green;
}

.error_message{
    color: red;
}

.float_right{
    float: right
}

.float_left{
    float: left
}
